@import "bootstrap/scss/bootstrap.scss";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

body {
  padding-top: 5rem;
  @media print {
    padding-top: 0;
  }
}

.form-required {
  color: #911;
}

textarea.ssh-public-key {
  font-family: monospace;
  white-space: pre;
  height: 5em;
}

meter.password-strength {
  margin: 0 auto;
  width: 100%;

  // For Firefox
  background: none;
  background-color: rgba(0, 0, 0, 0.1);

  &::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &[value="1"]::-webkit-meter-optimum-value { background: $red; }
  &[value="2"]::-webkit-meter-optimum-value { background: $yellow; }
  &[value="3"]::-webkit-meter-optimum-value { background: $orange; }
  &[value="4"]::-webkit-meter-optimum-value { background: $green; }

  &[value="1"]::-moz-meter-bar { background: $red; }
  &[value="2"]::-moz-meter-bar { background: $yellow; }
  &[value="3"]::-moz-meter-bar { background: $orange; }
  &[value="4"]::-moz-meter-bar { background: $green; }
}

.glyphicon-lg {
  margin-bottom: -.25em;
  font-size: 1.5em;
  vertical-align: -.25em;
  line-height: 0;
}

ul.inline-list {
  display: inline;
  padding: 0;
  margin: 0;
  li {
    display: inline;
    &:not(:last-child)::after {
      content: ", ";
    }
  }
}
