@import "bootstrap/scss/bootstrap-reboot.scss";

@media print {
    p.notice {
        display: none;
    }
    button.btn {
        display: none;
    }
    a {
        color: inherit;
    }
}

.util {
  display: flex;
  justify-content: space-between
}

table {
    line-height: 1;

    page-break-after: always;
    border-collapse: collapse;
    border: solid 3px;
    width: 100%;

    thead th {
        font-weight: bold;
        text-align: center;
    }

    th, td {
        padding: 3px;
    }

    tr[data-outdated] {
        @media screen { background: #f99; }
        @media print { display: none; }
    }

    caption {
        color: inherit;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
        caption-side: top;
    }

    td {
        box-sizing: content-box;
        page-break-inside: avoid;
        &.title { width: 3em; text-align: center; }
        &.department { width: 6em; text-align: center; }
        &.grade { width: 2.2em; text-align: center; }
        &.student-number { width: 8em; text-align: center;}
        &.name { width: 8em; text-align: center; }
        &.address { width: auto; }
        &.tel { width: 8em; text-align: center;}
        &.lodging { width: 2.5em; text-align: center; }
        &.mail { width: 12em; text-align: center;}
        border: solid 1px;

        div {
            margin: 3px 0;
        }
        &.name {
            .yomi, .uid { font-size: .75rem; }
            @media print {
                .uid { display: none; }
            }
        }


        &.contacts div {
            display: table;
            span { display: table-cell; }

            .label { width: 5.5em; }
            .value { width: auto; }
        }
    }

    thead {
        th.lodging { font-size: .8rem }
        td, th {
            border: 1px solid;
        }
        border-bottom: 3px double;
    }
}
