/.bundle/
/.sass-cache/
/tmp/
/log/*
!/log/.keep
/public/assets/
/vendor/bundle/
/vendor/assets/

config/ldap.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
