- if error
  %p.alert.alert-danger
    = error

%form.edit-form.needs-validation.needs-confirmation{action: absolute_uri('!adduser'), method: :POST}
  %h2 ユーザ作成
  %div.container.mb-2
    %div.row
      %div.col-12.mb-2
        %label{for: 'edit-uid'}
          ログイン名
          %span.form-required *
        %div
          %input#edit-uid.form-control.password-userinput.remote-validation{name: 'uid', value: uid, required: true, pattern: '^[a-z][a-z0-9]{2,19}$', placeholder: 'combat', data: {'remote-validation': {action: absolute_uri('!adduser/checkuid')}}}
    %div.row
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-surname'}
          氏 (ローマ字)
          %span.form-required *
        %div
          %input#edit-surname.form-control.password-userinput{name: 'surname', value: surname, required: true, pattern: '^[\x20-\x7e]*$', placeholder: 'ECHIZEN'}
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-givenname'}
          名 (ローマ字)
          %span.form-required *
        %input#edit-givenname.form-control.password-userinput{name: 'givenname', value: givenname, required: true, pattern: '^[\x20-\x7e]*$', placeholder: 'Kosuke'}
    %div.row
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-password'}
          パスワード
          %span.form-required *
        %div
          %input#edit-password.form-control.password{type: :password, name: 'password', required: true, placeholder: 'Password', minlength: 8, maxlength: 127, data: {'password-strength-meter': '#edit-password-strength'}}
          %meter#edit-password-strength.password-strength.small{min: 0, max: 4}
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-password-confirm'}
          パスワード (確認)
          %span.form-required *
        %div
          %input#edit-password-confirm.form-control.password-confirm{type: :password, name: 'password_confirm', required: true, placeholder: 'Password', data: {'password-confirm-for': '#edit-password'}}

  %fieldset
    %legend
      管理者
    %div.container
      %div.row
        %div.col-12.col-lg-5.mb-2
          %label.sr-only{for: 'bind-uid'} ログイン名
          %input#bind-uid.form-control.no-validation{name: '$bind_uid', value: bind_uid, required: true, placeholder: 'admin'}
        %div.col-12.col-lg-5.mb-2
          %label.sr-only{for: 'bind-password'} パスワード
          %input#bind-password.form-control.no-validation{type: :password, name: '$bind_password', required: true, placeholder: 'Password'}
        %div.col-12.col-lg-2.mb-2.d-grid
          %input.btn.btn-primary{type: :submit, value: 'アカウント作成'}
