- if err
  %p.alert.alert-danger
    = err

%h2 アカウント新規作成
%form.edit-form{action: absolute_uri('!adduser'), method: :POST}
  %div.container-fluid
    %div.row
      %div.col-sm-2.col-xs-12
        ログイン名
        %span.form-required *
      %div.col-sm-5.col-xs-6
        %input.form-control{name: '$uid', value: uid, placeholder: 'combat'}
    %div.row
      %div.col-sm-2.col-xs-12
        氏名(ローマ字)
        %span.form-required *
      %div.col-sm-5.col-xs-6
        %input.form-control{name: '$surname', value: surname, required: true, placeholder: 'ECHIZEN'}
      %div.col-sm-5.col-xs-6
        %input.form-control{name: '$givenname', value: givenname, required: true, placeholder: 'Kosuke'}
    %div.row
      %div.col-sm-2.col-xs-12
        パスワード
        %span.form-required *
      %div.col-sm-5.col-xs-6
        %input.form-control{type: :password, name: '$password', required: true, placeholder: 'Password'}
      %div.col-sm-5.col-xs-6
        %input.form-control{type: :password, name: '$password_confirm', required: true, placeholder: 'Password(確認)'}
    %hr
    %fieldset.row
      %legend.col-sm-10.col-sm-offset-1.col-xs-12
        管理者
      %div.col-sm-10.col-sm-offset-1.col-xs-12
        %div.form-inline
          %span.form-group
            %label.sr-only
              ログイン名
              %span.form-required *
            %input.form-control{name: '$bind_uid', value: bind_uid, required: true, placeholder: 'administrator'}
          %span.form-group
            %label.sr-only
              パスワード
              %span.form-required *
            %input.form-control{type: :password, name: '$bind_password', required: true, placeholder: 'Password'}
          %input.form-control.btn.btn-primary{type: :submit, value: 'アカウント作成'}
