- if error
  %p.alert.alert-danger
    = error

-ku_departments={"工学部情報学科" => "工学部情報学科", "工学部電気電子工学科" => "工学部電気電子工学科", "工学部物理工学科" => "工学部物理工学科", "工学部地球工学科" => "工学部地球工学科", "工学部建築学科" => "工学部建築学科", "工学部工業化学科" => "工学部工業化学科", "理学部" => "理学部", "医学部医学科" => "医学部医学科", "医学部人間健康科学科" => "医学部人間健康科学科", "総合人間学部" => "総合人間学部", "文学部" => "文学部", "教育学部" => "教育学部", "法学部" => "法学部", "経済学部" => "経済学部", "薬学部薬科学科" => "薬学部薬科学科", "薬学部薬学科" => "薬学部薬学科", "農学部資源生物科学科" => "農学部資源生物科学科", "農学部応用生命科学科" => "農学部応用生命科学科", "農学部地域環境工学科" => "農学部地域環境工学科", "農学部食料・環境経済学科" => "農学部食料・環境経済学科", "農学部森林科学科" => "農学部 森林科学科", "農学部食品生物科学科" => "農学部 食品生物科学科", "情報学研究科" => "情報学研究科", "工学研究科" => "工学研究科", "文学研究科" => "文学研究科", "法学研究科" => "法学研究科", "理学研究科" => "理学研究科", "農学研究科" => "農学研究科", "薬学研究科" => "薬学研究科", "エネルギー化学研究科" => "エネルギー化学研究科", "教育学研究科" => "教育学研究科", "経済学研究科" => "経済学研究科", "医学研究科" => "医学研究科", "人間・環境学研究科" => "人間・環境学研究科", "エネルギー科学研究科" => "エネルギー科学研究科", "アジア・アフリカ地域研究研究科" => "アジア・アフリカ地域研究研究科", "生命科学研究科" => "生命科学研究科", "総合生存学館（思修館）" => "総合生存学館（思修館）", "地球環境学堂/学舎" => "地球環境学堂/学舎", "経営管理研究部/経営管理教育部（経営管理大学院）" => "経営管理研究部/経営管理教育部（経営管理大学院）", "職員" => "職員", "other" => "その他" }

%form.edit-form.needs-validation.edit-is-ku{action: absolute_uri(user['uid'].first, :edit), method: :POST}
  %h2 ユーザ情報編集
  %div.container
    %div.row
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-uid'} ログイン名
        %input#edit-uid.form-control{value: user['uid'].first, readonly: true}
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-uid-number'} UID
        %input#edit-uid-number.form-control{value: user['uidNumber'].first, readonly: true}
    %div.row
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-surname'}
          氏 (ローマ字)
          %span.form-required *
        %div
          - input_userattr user, 'sn', id: 'edit-surname', required: true, pattern: '^[\x20-\x7e]*$', placeholder: 'ECHIZEN'
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-givenname'}
          名 (ローマ字)
          %span.form-required *
        %div
          - input_userattr user, 'givenName', id: 'edit-givenname', required: true, pattern: '^[\x20-\x7e]*$', placeholder: 'Kousuke'
    %div.row
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-surname-ja'}
          氏 (漢字)
          %span.form-required *
        %div
          - input_userattr user, 'sn;lang-ja', id: 'edit-surname-ja', required: true, placeholder: '越前'
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-givenname-ja'}
          名 (漢字)
          %span.form-required *
        %div
        - input_userattr user, 'givenName;lang-ja', id: 'edit-givenname-ja', required: true, placeholder: '康介'
    %div.row
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-surname-phonetic'}
          氏 (よみがな)
          %span.form-required *
        %div
          - input_userattr user, 'x-kmc-PhoneticSurname', id: 'edit-surname-phonetic', required: true, placeholder: 'えちぜん'
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-givenname-phonetic'}
          名 (よみがな)
          %span.form-required *
        %div
          - input_userattr user, 'x-kmc-PhoneticGivenName', id: 'edit-givenname-phonetic', required: true, placeholder: 'こうすけ'
    %div.row
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-alias'}
          別名
        %div
          - input_userattr user, 'x-kmc-Alias', id: 'edit-alias', placeholder: 'コンバット越前'
    %div.row
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-title'}
          役職
        %div
          - input_userattr user, 'title', id: 'edit-title', placeholder: '会長, 会計'
    %div.row
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-telephone-number'}
          電話番号
          %span.form-required *
        %div
          - input_userattr user, 'telephoneNumber', id: 'edit-telephone-number', type: :text, required: true, placeholder: '090-XXXX-YYYY', pattern: '\d+-\d+-\d+'
    %div.row
      %div.col-12.col-lg-2.mb-2
        %label{for: 'edit-postal-code'}
          郵便番号
          %span.form-required *
        %div
          - input_userattr user, 'postalCode', id: 'edit-postal-code', required: true, placeholder: '606-8501', pattern: '\d{3}-\d{4}'
      %div.col-12.col-lg-10.mb-2
        %label{for: 'edit-postal-address'}
          住所
          %span.form-required *
        %div.input-group
          - input_userattr user, 'postalAddress', id: 'edit-postal-address', required: true, placeholder: '京都市左京区吉田本町 工学部10号館アパート123号'
          %span.input-group-append
            %label.input-group-text
              - input_userattr user, 'x-kmc-Lodging', type: :checkbox, value: 'true', checked: user['x-kmc-Lodging'].first == 'TRUE', class: ''
              下宿
      %div.col-12.mb-2
        %label
          - input_userattr user, 'x-kmc-AddressIsPublic', type: :checkbox, value: 'true', checked: user['x-kmc-AddressIsPublic'].first == 'TRUE', class: ''
          郵便番号と住所を他の部員に公開
    %div.row
      %div.col-12.col-lg-2.mb-2
        %label{for: 'edit-is-kyoto-university'}
          所属
          %span.form-required *
          %div
          - select_userattr user, 'x-kmc-IsKUMember', {"TRUE" => "京都大学", "FALSE" => "その他"} , false, id: 'edit-is-kyoto-university'
      %div.col-12.col-lg-4.mb-2.is-ku
        %label{for: 'edit-ku-department'}
          学部・学科
          %span.form-required *京大所属者は必須
        %div
          - select_userattr user, 'x-kmc-KUDepartment', ku_departments, true, id: 'edit-ku-department', required: true
      %div.col-12.col-lg-4.mb-2.is-ku
        %label{for: 'edit-ku-student-number'}
          学生番号
          %span.form-required *京大所属者は必須
        %div
          - input_userattr user, 'x-kmc-KUStudentNumber', id: 'edit-ku-student-number', type: :text, required: true, placeholder: 'XXXX-YY-ZZZZ', pattern: '\d+-\d+-\d+'
      %div.col-12.col-lg-2.mb-2.is-ku
        %label{for: 'edit-university-status'}
          学年
          %span.form-required *京大所属者は必須
        %div
          - input_userattr user, 'x-kmc-UniversityStatus', id: 'edit-university-status', required: true, placeholder: '1, M2, D3, 教授'
      %div.col-12.col-lg-10.mb-2.not-ku.not-required{hidden: "hidden"}
        %label{for: 'edit-university-department'}
          所属組織・学部・学科
        %div
          - input_userattr user, 'x-kmc-UniversityDepartment', id: 'edit-university-department', placeholder: '千葉電波大学理学部, 社会人'
    %div.row
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-university-matric-year'}
          入学年
        %div.input-group
          %span.input-group-prepend
            %span.input-group-text 西暦
          - input_userattr user, 'x-kmc-UniversityMatricYear', type: :number, placeholder: Date.today.academic_year, min: 1950, max: 2050
          %span.input-group-append
            %span.input-group-text 年度入学
      %div.col-12.col-lg-6.mb-2
        %label{for: 'edit-university-matric-year'}
          代
          %span.form-required *
        %div.input-group
          %span.input-group-prepend
            %span.input-group-text 第
          - input_userattr user, 'x-kmc-Generation', required: true, type: :number, placeholder: Date.today.academic_year - 1976, min: 1
          %span.input-group-append
            %span.input-group-text 代
    %div.row
      %div.col-12.mb-2
        %label{for: 'edit-mail-forwarding-address'}
          メール転送先
        %div
          - input_userattr user, 'x-kmc-MailForwardingAddress', id: 'edit-mail-forwarding-address', placeholder: "#{user['uid'].first}, combat@example.com"
    %div.row
      %div.col-12.mb-2
        %label{for: 'edit-ssh-public-key'}
          SSH 公開鍵
        %div
          / Content must be on the same line to suppress indent in textarea.
          %textarea#edit-ssh-public-key.form-control.ssh-public-key{name: 'sshPublicKey', placeholder: "ssh-rsa XXXXXXX...\necdsa-sha2-nistp256 XXXXXXX..."}= user['sshPublicKey'].join("\n")
    %div.row
      %div.col-12.mb-2
        %label{for: 'edit-description'}
          備考
        %div
          - input_userattr user, 'description'
  %fieldset
    %legend.col-md-12.col-sm-12
      編集者
    %div.container
      %div.row
        %div.col-12.col-lg-5.mb-2
          %label.sr-only{for: 'bind-uid'} ログイン名
          %input#bind-uid.form-control.no-validation{name: '$bind_uid', value: remote_user || user['uid'].first, required: true, placeholder: 'combat'}
        %div.col-12.col-lg-5.mb-2
          %label.sr-only{for: 'bind-password'} パスワード
          %input#bind-password.form-control.no-validation{type: :password, name: '$bind_password', required: true, placeholder: 'Password'}
        %div.col-12.col-lg-2.mb-2.d-grid
          %button.btn.btn-primary{type: :submit, name: 'action', value: 'update'} 保存
