%form.edit-form{action: absolute_uri(user['uid'].first, :edit), method: :POST}
  %div.container-fluid
    %div.row
      %div.col-sm-2.col-xs-12 ログイン名
      %div.col-sm-3.col-xs-6 #{user['uid'].first}
      %div.col-sm-3.col-xs-6 (UID: #{user['uidNumber'].first})
    %hr
    %div.row
      %div.col-sm-2.col-xs-12
        氏名(英語)
        %span.form-required *
      %div.col-sm-3.col-xs-6
        - input_userattr user, 'sn', required: true, placeholder: 'ECHIZEN'
      %div.col-sm-3.col-xs-6
        - input_userattr user, 'givenName', required: true, placeholder: 'Kousuke'
    %div.row
      %div.col-sm-2.col-xs-12
        氏名(日本語)
        %span.form-required *
      %div.col-sm-3.col-xs-6
        - input_userattr user, 'sn;lang-ja', required: true, placeholder: '越前'
      %div.col-sm-3.col-xs-6
        - input_userattr user, 'givenName;lang-ja', required: true, placeholder: '康介'
    %div.row
      %div.col-sm-2.col-xs-12
        よみがな
        %span.form-required *
      %div.col-sm-3.col-xs-6
        - input_userattr user, 'x-kmc-PhoneticSurname', required: true, placeholder: 'えちぜん'
      %div.col-sm-3.col-xs-6
        - input_userattr user, 'x-kmc-PhoneticGivenName', required: true, placeholder: 'こうすけ'
    %div.row
      %div.col-sm-2.col-xs-12 別名
      %div.col-sm-3.col-xs-12
        - input_userattr user, 'x-kmc-Alias', placeholder: 'コンバット越前'
    %div.row
      %div.col-sm-2.col-xs-12 役職
      %div.col-sm-3.col-xs-12
        - input_userattr user, 'title', placeholder: '会長, 会計'
    %div.row
      %div.col-sm-2.col-xs-12
        電話番号
        %span.form-required *
      %div.col-sm-3.col-xs-12
        - input_userattr user, 'telephoneNumber', type: :tel, required: true, placeholder: '090-XXXX-YYYY', pattern: '\d+-\d+-\d+'
    %div.row
      %div.col-sm-2.col-xs-12
        住所
        %span.form-required *
      %div.col-sm-10.col-xs-12
        %span.pull-left.input-group.postal-code
          %span.input-group-addon 〒
          - input_userattr user, 'postalCode', required: true, placeholder: '606-8205', pattern: '\d{3}-\d{4}'
        %span.input-group
          - input_userattr user, 'postalAddress', required: true, placeholder: '京都市左京区田中上柳町108 第3岡田荘31号'
          %span.input-group-addon
            %label
              - input_userattr user, 'x-kmc-Rodging', type: :checkbox, value: 'true', checked: user['kmcRodging'].first == 'true', class: ''
              下宿
    %div.row
      %div.col-sm-2.col-xs-12
        所属
        %span.form-required *在学者のみ
      %div.col-sm-3.col-xs-6
        - input_userattr user, 'x-kmc-UniversityDepartent', placeholder: '工学部情報学科'
      %div.col-sm-3.col-xs-6
        %div.input-group
          - input_userattr user, 'x-kmc-UniversityStatus', placeholder: '1, M2, D3, 教授'
          %span.input-group-addon 回生
    %div.row
      %div.col-sm-2.col-xs-12
        入学年
        %span.form-required *
      %div.col-sm-4.col-xs-6
        %div.input-group
          %span.input-group-addon 西暦
          - input_userattr user, 'x-kmc-UniversityMatricYear', required: true, type: :number,
            placeholder: Date.today.academic_year, min: 1950, max: 2050
          %span.input-group-addon 年度入学
      %div.col-sm-3.col-xs-6
        %div.input-group
          %span.input-group-addon 第
          - input_userattr user, 'x-kmc-Generation', required: true, type: :number,
            placeholder: Date.today.academic_year - 1976, min: 1
          %span.input-group-addon 代
    %div.row
      %div.col-sm-2.col-xs-12
        備考
      %div.col-sm-10.col-xs-12
        - input_userattr user, 'description'

  %fieldset.form-group
    %legend 編集者
    %div.row
      %label.col-sm-2.col-xs-4{for: 'bind_uid'}
        ログイン名
      %div.col-sm-4.col-xs-8
        %input.form-control{name: '$bind_uid', id: 'bind_uid', value: remote_user || user['uid'].first}
      %label.col-sm-2.col-xs-4
        パスワード
      %div.col-sm-4.col-xs-8
        %input.form-control{type: :password, name: '$bind_password'}

  %input.btn.btn-primary.btn-lg.btn-block{type: :submit, value: '保存'}
