%form{action: absolute_uri(user['uid'].first, :edit), method: :POST}
  %table.table.table-striped
    %tr
      %th 氏名(英語)
      %td
        - input_userattr user, 'sn', required: true, placeholder: 'ECHIZEN'
      %td
        - input_userattr user, 'givenName', required: true, placeholder: 'Kousuke'
    %tr
      %th 氏名(日本語)
      %td
        - input_userattr user, 'sn;lang-ja', required: true, placeholder: '越前'
      %td
        - input_userattr user, 'givenName;lang-ja', required: true, placeholder: '康介'
    %tr
      %th よみがな
      %td
        - input_userattr user, 'sn;lang-ja;phonetic', required: true, placeholder: 'えちぜん'
      %td
        - input_userattr user, 'givenName;lang-ja;phonetic', required: true, placeholder: 'こうすけ'
    %tr
      %th ハンドル
      %td{colspan: 2}
        - input_userattr user, 'alias', placeholder: 'コンバット越前'
    %tr
      %th 役職
      %td{colspan: 2}
        - input_userattr user, 'title', placeholder: '会長'
    %tr
      %th 電話番号
      %td
        - input_userattr user, 'mobile', type: :tel, required: true, placeholder: '090-XXXX-YYYY(携帯)'
      %td
        - input_userattr user, 'homePhone', type: :tel, placeholder: '075-ZZZZ-WWWW(固定)'
    %tr
      %th{rowspan: 2} 住所
      %td
        -# TODO: input groups を使って左に「〒」を出したい
        - input_userattr user, 'postalCode', required: true, placeholder: '〒'
      %td
        %label
          - input_userattr user, 'kmcRodging', type: :checkbox, value: 'true', checked: user['kmcRodging'].first == 'true'
          下宿
    %tr
      %td{colspan: 2}
        - input_userattr user, 'postalAddress', required: true, placeholder: '京都市左京区田中上柳町108 第3岡田荘31号'
    %tr
      %th 所属・回生
      %td
        - input_userattr user, 'kmcUniversityDepartent', required: true, placeholder: '工学部情報学科'
      %td
        -# TODO: input groups を使って右に「回生」を出したい
        - input_userattr user, 'kmcUniversityStatus', required: true, placeholder: '1'
    %tr
      %th 入学年
      %td{colspan: 2}
        - input_userattr user, 'kmcUniversityMatric', required: true, placeholder: '2013'
    %tr
      %th 代
      %td{colspan: 2}
        - input_userattr user, 'kmcGeneration', required: true, placeholder: '37'
  %input{type: :hidden, name: 'uid', value: user['uid'].first}
  Password:
  %input{type: :password, name: 'password'}
  %input{type: :submit}
