-# -*- coding: utf-8 -*-
!!!
%html
  %head
    %meta{charset: 'utf-8'}
    = stylesheet_tag 'app'
    = javascript_tag 'app'
    %title めいぼ
  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      %div.container
        %div.navbar-header
          -# FIXME: href直書きしてるの直したい
          %a.navbar-brand{href: 'https://inside.kmc.gr.jp/'} 内部トップ
          %ul.nav.navbar-nav
            %li
              %a{href: absolute_uri()} 一覧
    %div.container-fluid
      %div.row
        %div.col-xs-8.col-xs-offset-2
          = yield
