development:
  assets_uri: '/members/assets'
  ldap_uri:
    base: 'ldaps://ldap.box2.kmc.gr.jp/dc=box2,dc=kmc,dc=gr,dc=jp'
    users: 'ldaps://ldap.box2.kmc.gr.jp/ou=users,dc=box2,dc=kmc,dc=gr,dc=jp'
    groups: 'ldaps://ldap.box2.kmc.gr.jp/ou=groups,dc=box2,dc=kmc,dc=gr,dc=jp'
  brand:
    name: 'KMC'
    uri: 'https://inside.kmc.gr.jp'
  ui:
    default_sort_keys: -uidNumber
  samba_domain_name: KMC
