$grid-float-breakpoint: 440px;
@import "bootstrap-sprockets";
@import "bootstrap-compass";
@import "bootstrap";

body {
  padding-top: 70px;
}

.form-required {
  color: #911;
}

.postal-code {
  max-width: 18ex;
}

form.edit-form {
  div.container-fluid {
    div.row {
      margin-bottom: 4px;
    }
  }

  meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto;
    width: 100%;

    /* for Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);

    &::-webkit-meter-bar {
      background: none;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &[value="1"]::-webkit-meter-optimum-value { background: red; }
    &[value="2"]::-webkit-meter-optimum-value { background: yellow; }
    &[value="3"]::-webkit-meter-optimum-value { background: orange; }
    &[value="4"]::-webkit-meter-optimum-value { background: green; }

    &[value="1"]::-moz-meter-bar { background: red; }
    &[value="2"]::-moz-meter-bar { background: yellow; }
    &[value="3"]::-moz-meter-bar { background: orange; }
    &[value="4"]::-moz-meter-bar { background: green; }
  }
}

.glyphicon-lg {
  margin-bottom: -.25em;
  font-size: 1.5em;
  vertical-align: -.25em;
  line-height: 0;
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-form {
    width: 30ex;
  }

  @media (max-width: $screen-xs-max) {
    .navbar-autotext {
      display: none;
    }
  }
}
