@import "bootstrap";

body {
  padding-top: 70px;
}

.form-required {
  color: #911;
}

.postal-code {
  max-width: 18ex;
}

form.edit-form {
  div.container-fluid {
    div.row {
      margin-bottom: 4px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  form.form-inline {
    .input-group {
      width: 100%;
    }
  }
}

@media (min-width: $screen-sm-min) {
  form.form-inline {
    .input-group {
      width: 20ex;
	}
  }
}

