@import "bootstrap";

body {
  padding-top: 70px;
}

.form-required {
  color: #911;
}

table.table.edit-form {
  th {
    min-width: 8em;
  }
}

@media (max-width: $screen-xs-max) {
  form.form-inline {
    .input-group {
      width: 100%;
    }
  }
}

@media (min-width: $screen-sm-min) {
  form.form-inline {
    .input-group {
      width: 20ex;
	}
  }
}

