name: Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: .ruby-version
        bundler-cache: true
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: npm
    - name: Install npm modules
      run: |
        npm ci
    - name: Copy config
      run: |
        sed 's/development:/production:/' config/guildbook.yml.example > config/guildbook.yml
    - name: Build assets
      run: |
        npm run build
    - name: Test
      run: |
        bundle exec rspec
